/**
  |============================
  | Roots
  |============================
*/
:root {
  --indent: 24px;
  --items: 4;
}
/**
  |============================
  | Header
  |============================
*/

.body-text-color {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/**
  |============================
  | Links
  |============================
*/
.helper-components {
  font-weight: 500;
  color: #2e2f42;
}
.helper-components:hover,
.helper-components:focus {
  color: #404bbf;
}
.contact-link {
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/**
  |============================
  | HERO section
  |============================
*/
.hero {
  text-align: center;
  padding: 188px 0;
  background: #2e2f42;
}
.hero-text {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

button:hover,
.button:focus {
  color: #ffffff;
  background: #404bbf;
}
/**
  |============================
  | Section 2
  |============================
*/
.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.submain-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**
  |============================
  | Section 3
  |============================
*/

/**
  |============================
  | Section 4 Team photos
  |============================
*/
.team-background {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.photo-back {
  background-color: #ffffff;
}
/**
  |============================
  | Partfolio page
  |============================
*/

/* footer coloring */
.footer-line {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #2e2f42;
}
/**
  |============================
  | LOGO
  |============================
*/

.logo-dark {
  color: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
}

/**
  |============================
  | RESET styles START
  |============================
*/

.link {
  text-decoration: none;
}

.list {
  color: currentcolor;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  |============================
  | Container
  |============================
*/
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  outline-offset: -2px;
}
/**
  |============================
  | START index.html
  |============================
*/
/**
  |============================
  | CARD-SET
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.photo {
  --items: 3;
}
.cards {
  --items: 4;
}
/**
  |============================
  | LOGO placering
  |============================
*/
.help-hat {
  font-style: normal;
}
.help-hat-border {
  font-style: normal;
  border-bottom: 1px solid #e7e9fc;
}

.help-hat-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.adr {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mail {
  margin-right: 40px;
}
.helper-components,
.contact-link,
.logo-top {
  padding-top: 24px;
  padding-bottom: 24px;
}
/**
  |============================
  | Hero
  |============================
*/
.hero-btn {
  min-width: 169px;
  height: 56px;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
}
.hero-text {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Serction 2
  |============================
*/
.skill-set {
  padding-top: 120px;
  padding-bottom: 120px;
}
.skill-map {
  padding-right: 24px;
}
.submain-text {
  margin-bottom: 72px;
}
.focus {
  width: 264px;
}

/**
    |============================
    | Section 3
    |============================
  */
.img-section {
  padding-bottom: 120px;
}
/**
  |============================
  | Section 4
  |============================
*/
.team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
.title-center {
  text-align: center;
}
/**
  |============================
  | Footer section
  |============================
*/

.footer-line {
  padding: 100px 0;
}

.foot-text {
  width: 264px;
}

/**
  |============================
  | Portfolio placering
  |============================
*/
/* logo placering */
.portfolio-top {
  margin-bottom: 96px;
}
/* Buttons */
.btn-top {
  padding-top: 96px;
  padding-bottom: 120px;
}
.click {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/**
  |============================
  | Portfolio for cheker
  |============================
*/
.pictures {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.pictures-list {
  width: calc((100% - 48px) / 3);
}
/* .container.foot {
  display: flex;
  align-items: start;
  flex-direction: column;
} */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  margin-right: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.inline {
  display: inline-block;
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: #ffffff;
  background: #4d5ae5;
}
.radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  background: #f4f4fd;
}

.radio-btn:hover,
.radio-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.btn-color:hover,
.btn-color:focus {
  border: 1px solid transparent;
}
